



body, header{
    text-align: center;
    width: 400px;
    margin: auto;
    background-color: cornflowerblue;
}

section{
    background-color: white;
box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.199);


}
div{
    text-align: start;
    text-indent: 5px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
   
    
   

}

#contar{
    margin-left: 5px;
}





